body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  background-image: url(../Assets/cover.jpg);
  background-size: cover;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.Introduction {
  text-align: center;
  background: transparent;
  border-radius: 5%;
  padding: 30px;
}

.description {
  white-space: pre-wrap;
  background-color: ivory;
  border-top: 1px dashed #000000;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: royalblue;
}

.present {
  background-color: #ff6961;
  color: royalblue;
}

.future {
  background-color: #77dd77;
  color: royalblue;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* Resize screen under 768px will apply following condition */
@media screen and (max-width: 768px) {
  .maintemplate {
    background-color: lightgreen;
  }
  
  .row {
    background-color: lightblue;
    height: auto;
  }

  .hour {
    background-color: lightgray;
  }

  .saveBtn {
    height: auto;
  }

  textarea {
    background-color: antiquewhite;
    height: auto;
  }
}

